<!DOCTYPE html>
<html>
<head>
  <title>Snowite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
   <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/log_in">Snowite</a>
        <div class="nav-collapse">
          <ul class="nav">
              <% if current_user %>
                <li> <%= link_to "View my profile", user_path(:id) %> </li>
                <li> <%= link_to "Edit my profile", edit_user_path(:id)%> </li>
                    <% if session[:role_id] && session[:role_id]<3 %>
                          <li> <%= link_to "Show users", users_path%> </li>
                    <% end %>
                    <% if session[:role_id] == 1%>
                          <li> <%= link_to "Add admin", new_admin_path%> </li>
                    <%end%>
               <li><%= link_to "Log out", log_out_path %></li>
              <% else %>
                <li> <%= link_to "Sign up", new_user_path %> </li>
                <li ><%= link_to "log in", log_in_path %> </li>
              <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div> 
  

</div>
<div class="container">
  <% flash.each do |name, msg| %>
    <div class = "alert alert-<%=name == :success ? "success" : "error"%>">
      <%= msg %>
    </div>
  <% end %>
    
  <div class="row">
    <div class="span12"> <%= yield %> </div>
  </div>
</div>
</body>
</html>
