<h1>Log in</h1>

<%= form_for :session, :method => :post, :action => :create do |f|%>
</div>    
  <p>
    <%=f.label :email %></br>
    <%=f.text_field :email %>  
  </p>
  <p>
    <%=f.label :password %></br>
    <%=f.password_field :password %>  
  </p>
  <p class="button"><%= f.submit %>  </p>

  <a href='#' onclick='alert("Oh,shit, it happens!")'>Link</a>
<%end%>  

<%= link_to 'Add user by modal window', '/usermodal',  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

