<h1> Behold all users! </h1>

<ul>
    <% @user.each do |user|%>
      <li>  <i> <%= user.fname %>   <%= user.lname %>  <%= link_to "show", "/user_show/#{user.email}"%>
        <%= user.created_at.httpdate %>  </i> <%= link_to "delete", "/users/#{user.id}/del", :method => :delete %></li>
   
    <%end%>
  </ul>


