<%if session[:role_id] < 3 %>


    <h1> Behold all users! </h1>

    <table class="table table-stripped">
        <th> Name </th>
        <th> Registered on </th>
      <% @user.each do |user|%>
        <tr>  
          <td><i> <%= user.fname %> <%= user.lname %> </i><%= link_to "show", "/user_show/#{user.email}"%> </td>
          <td>  <%= user.created_at.httpdate %> 
                <%= link_to "delete", "/users/#{user.id}/del",
                    :method => :delete %></td>
       <%end%>
     </table>
<%end%>

<%if session[:role_id] == 1 %>

    <h1> Behold all admins as well! </h1>
    <%@admin = Admin.all%>
    <table class="table table-stripped">
        <th> Name </th>
        <th> Registered on </th>
      <% @admin.each do |user|%>
        <tr>  
          <td><i> <%= user.fname %> <%= user.lname %> </i><%= link_to "show", "/user_show/#{user.email}"%> </td>
          <td>  <%= user.created_at.httpdate %> 
                <%= link_to "delete", "/admins/#{user.id}/del",
                    :method => :delete %></td>
       <%end%>
     </table>
   <%end%>

