<%if session[:role_id] < 3 %>

    <h3> Behold all users! </h3>

    <table class="table table-stripped">
      <th> <%= sortable "fname", "Name" %> </th>
      <th> <%= sortable"created_at", "Registered on" %> </th>
      <% @users.each do |user|%>
        <tr>  
          <td><i> <%= user.fname %> <%= user.lname %> </i><%= link_to "show", "/user_show/#{user.email}"%> </td>
          <td>  <%= user.created_at.httpdate %> 
                <%= link_to "delete", "/users/#{user.id}/del",
                    :method => :delete %></td>
       <%end%>
<%end%>

<%if session[:role_id] == 1 %>

  <tr colspan=2> <td><h3> Behold all admins as well! </h3> </td></tr>
    <%@admin = Admin.all%>
      <% @admin.each do |user|%>
        <tr>  
          <td><i> <%= user.fname %> <%= user.lname %> </i><%= link_to "show", "/user_show/#{user.email}"%> </td>
          <td>  <%= user.created_at.httpdate %> 
                <%= link_to "delete", "/admins/#{user.id}/del",
                    :method => :delete %></td>
       <%end%>
     </table>
   <%end%>

